<div class="container py-3">
  <div class="row">
    <div class="col-md-6 mx-auto d-flex">
      <%= image_tag @user.get_profile_image, class: "rounded-circle" %>
      <div class="ml-auto">
        <% if (current_user.admin?) || (current_user == @user) %>
          <%= link_to "プロフィールを編集", edit_user_path(@user), class: "btn btn-light" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mx-auto py-3">
      <h4><%= @user.name %></h4>
      <p><%= @user.introduction %></p>
    </div>
  </div>
</div>