<div class="container py-3">
  <div class="row">
    <div class="mx-auto col-sm-10 col-lg-8 col-xl-6">
      <h1 class="text-center mb-4"><strong>Minimine</strong></h1>
      <p class="text-center"><strong>Minimine</strong> はミニマリストの持ち物を紹介するSNSです。</p>
      <p class="text-center">選りすぐりの持ち物を紹介しあい、参考にすることができます。</p>
      <p class="text-center mb-4">ぜひ使ってみてください。</p>
      <div class="btn-wrapper col-10 mx-auto">
        <div class="row">
          <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, class: "btn btn-dark btn-sm btn-block mb-4 sign_in", method: :post %>
        </div>
        <div class="row">
          <%= link_to 'Log in', new_user_session_path, class: "btn btn-light btn-sm btn-block mb-4 sign_in" %>
        </div>
        <div class="row">
          <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-light btn-sm btn-block sign_up" %>
        </div>
      </div>
    </div>
  </div>
</div>
