<div class="container py-3">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <% if @model == "post" %>
        <h3 class="mb-3">Posts search for "<%= @content %>"</h3>
        <%= render "posts/index", posts: @records %>
      <% elsif @model == "user" %>
        <h3 class="mb-3">Users search for "<%= @content %>"</h3>
        <%= render "users/index", users: @records %>
      <% end %>
    </div>
  </div>
</div>