<div class="d-flex flex-wrap">
  <% if posts.empty? %>
    <p>投稿はありません。</p>
  <% else %>
    <% posts.each do |post| %>
      <%= link_to post_path(post), class: "img-link" do %>
        <%= image_tag post.get_image, class: "img-box" %>
      <% end %>
    <% end %>
  <% end %>
</div>
<div class="mt-4"><%= paginate posts %></div>