<div class="d-flex flex-wrap justify-content-center">
    <% if posts.empty? %>
      <p>投稿はありません。</p>
    <% else %>
      <% posts.each do |post| %>
        <%= link_to post_path(post) do %>
          <%= image_tag post.get_image, style: "border:1px solid #6c757d;" %>
        <% end %>
      <% end %>
    <% end %>
</div>
<div class="mt-4"><%= paginate posts %></div>